<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>FrameHunter</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/home"><img src="../../images/logo.png" alt="logo" class="logo-img"></a>
        </div>
        <nav>
            <div class="nav-btns">
                <a href="/">Home</a>
                <a href="/catalog">Destinations</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="image-section">
            <div class="login-section">
                <div class="login-container">
                    <h3>Register</h3>
                    <h5>Please provide all required details</h5>
                    <form>
                        <input type="text" placeholder="Username">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Repeat Password">
                        <div>
                            <button>Register</button>
                        </div>
                    </form>
                    <div class="redirect-link">
                        <a href="#">Already have an account?</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-app">
            <p>&copy; <a href="/">FrameHunter</a><span class="less-opacity">. All Rights Reserved.</span></p>
        </div>

        <div class="footer-author">
            <p>Designed by <a href="https://github.com/ivan9paunov" target="_blank">Ivan Paunov</a></p>
        </div>
    </footer>
</body>

</html>