<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>SellSpot</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/home"><img src="../../images/logo.png" alt="logo" class="logo-img"></a>
        </div>
        <nav>
            <div class="nav-btns">
                <a href="/">Home</a>
                <a href="/catalog">Destinations</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="heroSection">
            <div class="welcome-text">
                <h1>Welcome to FrameHunter!</h1>
                <h3>Where every shot tells a story. Your journey to cinematic landscapes starts here.</h3>
            </div>
        </section>

        <section class="last-three-games">
            <div class="latest-container">
                <h2>LAST ADDED DESTINATIONS</h2>
                <div class="latest-games">
                    <div class="latest-game">
                        <img src="https://images.unsplash.com/photo-1600663757626-0fc610ba60d4?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Game Cover">
                        <div class="latest-game-info">
                            <h3>Golden Gate Bridge</h3>
                            <div class="latest-game-footer">
                                <p>San Francisco, USA</p>
                                <a href=`/details/${gameId}`>Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="latest-game">
                        <img src="https://images.unsplash.com/photo-1522092372459-dff01028d904?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Game Cover">
                        <div class="latest-game-info">
                            <h3>Brooklyn Bridge</h3>
                            <div class="latest-game-footer">
                                <p>New Your, USA</p>
                                <a href=`/details/${gameId}`>Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="latest-game">
                        <img src="https://images.unsplash.com/photo-1567597243073-2d274aabecec?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Game Cover">
                        <div class="latest-game-info">
                            <h3>Machu Picchu</h3>
                            <div class="latest-game-footer">
                                <p>PERU</p>
                                <a href=`/details/${gameId}`>Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <footer>
        <div class="footer-app">
            <p>&copy; <a href="/">Sell<span class="highlighted">Spot</span></a><span class="less-opacity">. All Rights Reserved.</span></p>
        </div>

        <div class="footer-author">
            <img src="./images/logo.png" />
            <p><i class="fa-solid fa-phone"></i><span>088 888 8888</span></p>
            <p><i class="fa-solid fa-envelope"></i><span>jewelry_hisarya@gmail.com</span></p>
            <p><i class="fa-solid fa-location-dot"></i><span>Хисаря, бул. Иван Вазов 36</span></p>
        </div>
    </footer> -->
</body>

</html>