<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>FrameHunter</title>
</head>

<body>
    <header>
        <input type="checkbox" id="mobileMenuToggler" class="mobileTogglerCheckbox">
        <label for="mobileMenuToggler" class="mobileToggler">
            <i class="fa-solid fa-bars"></i>
        </label>
        <div class="logo">
            <a href="/home"><img src="../../public/img/logo.png" alt="logo" class="logo-img"></a>
        </div>
        <nav>
            <div class="nav-btns">
                <a href="/">Home</a>
                <a href="/catalog">Destinations</a>
                <a href="/add-frame">Add Frame</a>
                <a href="/profile">My Profile</a>
                <a href="/logout">Logout</a>
                <!-- <a href="/login">Login</a>
                <a href="/register">Register</a> -->
            </div>
        </nav>
    </header>

    <main>
        <section class="heroSection">
            <div class="welcome-text">
                <h1>Welcome to FrameHunter!</h1>
                <h3>Where every shot tells a story. Your journey to cinematic landscapes starts here.</h3>
            </div>
        </section>

        <section class="quick-instructions">
            <div class="section-container">
                <h2>CAPTURE THE EXTRAORDINARY</h2>
                <div class="steps-wrapper">
                    <div class="step">
                        <i class="fa-solid fa-compass"></i>
                        <h3>Choose Your Destination</h3>
                        <p>Not sure where to go next? Explore our curated list of breathtaking locations or add your
                            dream destination to your bucket list.</p>
                    </div>
                    <div class="step">
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                        <h3>Get Inspired by Professionals</h3>
                        <p>Discover creative ideas from fellow photographers who have captured stunning shots in your
                            chosen location.</p>
                    </div>
                    <div class="step">
                        <i class="fa-solid fa-camera-retro"></i>
                        <h3>Create Amazing Shots</h3>
                        <p>Pick your gear, unleash your creativity, and capture cinematic masterpieces. Remember, every
                            frame tells a story!</p>
                    </div>
                    <div class="step">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <h3>Share Your Journey</h3>
                        <p>Don't forget to upload your best shots and tips to inspire the next generation of explorers
                            and photographers.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="last-three-spots">
            <div class="section-container">
                <h2>LAST ADDED DESTINATIONS</h2>
                <div class="latest-spots">
                    <div class="latest-spot">
                        <img src="https://images.unsplash.com/photo-1600663757626-0fc610ba60d4?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Destination Cover">
                        <div class="latest-spot-info">
                            <h3>Golden Gate Bridge</h3>
                            <div class="latest-spot-footer">
                                <p>San Francisco, USA</p>
                                <a href=`/details/${spotId}`>Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="latest-spot">
                        <img src="https://images.unsplash.com/photo-1522092372459-dff01028d904?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Destination Cover">
                        <div class="latest-spot-info">
                            <h3>Brooklyn Bridge</h3>
                            <div class="latest-spot-footer">
                                <p>New York, USA</p>
                                <a href=`/details/${spotId}`>Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="latest-spot">
                        <img src="https://images.unsplash.com/photo-1567597243073-2d274aabecec?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Destination Cover">
                        <div class="latest-spot-info">
                            <h3>Machu Picchu</h3>
                            <div class="latest-spot-footer">
                                <p>PERU</p>
                                <a href=`/details/${spotId}`>Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-app">
            <p>&copy; <a href="/">FrameHunter</a><span class="less-opacity">. All Rights Reserved.</span></p>
        </div>

        <div class="footer-author">
            <p>Designed by <a href="https://github.com/ivan9paunov" target="_blank">Ivan Paunov</a></p>
        </div>
    </footer>
</body>

</html>