.heroSection {
    color: white;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(210, 198, 164, 0.5), rgba(102, 102, 102, 0.4), rgb(99, 99, 99, 0.6)),
        url('../../public/img/cover.jpg') no-repeat center center;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 1;
}

.welcome-text {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.welcome-text h1 {
    font-size: 70px;
    text-align: center;
    line-height: 1.1em;
}

.welcome-text h3 {
    text-transform: uppercase;
    text-align: center;
}

section.quick-instructions {
    position: relative;
    width: 100%;
    margin-top: 100vh;
    padding-bottom: 20px;
}

section.last-three-spots {
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding: 0px 0 120px 0;
}

section.quick-instructions .section-container,
section.last-three-spots .section-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section.quick-instructions .section-container h2,
section.last-three-spots .section-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 0px 0px 8px rgba(100, 100, 100, 0.2);

}

.steps-wrapper,
.latest-spots {
    display: flex;
    justify-content: space-evenly;
}

.steps-wrapper {
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}

.step {
    width: 25%;
    text-align: center;
}

.step > i {
    color: #3c7496;
    font-size: 44px;
    margin-bottom: 20px;
}
.step > h3 {
    color: #3c7496;
    font-size: 22px;
    text-shadow: 0px 0px 8px rgba(100, 100, 100, 0.2);
    margin-bottom: 10px;
}
.step > p {
    color: #8a5044;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 0px 8px rgba(100, 100, 100, 0.2);

}

.latest-spot {
    width: 265px;
    background-color: white;
    color: #363535;
    padding: 10px;
    border-radius: 12px 12px 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-spot:hover {
    transform: scale(1.03);
}

.latest-spot img {
    height: 300px;
    width: 245px;
    margin-bottom: 12px;
    border-radius: 12px 12px 12px 24px;
}

.latest-spot-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.latest-spot h3 {
    font-size: 18px;
    color: rgb(0, 7, 53);
    text-align: center;
    line-height: 1.2em;
}

.latest-spot p {
    font-weight: 900;
}

.latest-spot a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 16px 6px 16px;
    border-radius: 8px;
    background-color: #3c7496;
}

.latest-spot a:hover {
    background-color: #8a5044;
}

.latest-spot-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1250px) {
    .welcome-text {
        width: 80%;
    }
}

@media (max-width: 950px) {
    .welcome-text {
        width: 96%;
    }
}

@media (max-width: 830px) {
    .latest-spots {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 610px) {
    .steps-wrapper {
        flex-direction: column;
    }

    .step {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .welcome-text h1 {
        font-size: 40px;
    }
}