header {
    position: relative;
    width: calc(100% / 3 * 2);
    margin: 20px auto 18px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-img {
    display: block;
    position: relative;
    width: 75px;
    z-index: 999;
}

header nav .nav-btns {
    display: flex;
    gap: 12px;
}

.nav-btns>a {
    color: white;
    background: #3c7496;
    padding: 2px 14px 4px 14px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgb(135, 135, 135);
    z-index: 999;
}

.nav-btns>a:hover {
    background: #8a5044;
}

footer {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(54, 53, 53, 1) 100%);
}

footer .footer-app {
    width: 100%;
    height: 100%;
    border-top: 3px solid #8a5044;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .footer-app a {
    font-weight: 900;
}

footer .footer-app span.highlighted {
    color: #8a5044;
}

footer .footer-app span.less-opacity {
    opacity: 0.7;
}

footer .footer-author {
    height: 100%;
    width: 300px;
    padding: 0 10px;
    background-color: #8a5044;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-author a {
    font-weight: 900;
}




* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

  main {
    border-top: 3px solid #8a5044;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
    background: #030005;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #3c7496, 1px 1px 0px #8a5044;
    letter-spacing: -20px;
  }
  
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #3c7496;
    letter-spacing: 13px;
    margin: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #3c7496;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
  }
  
  .notfound a:hover {
    color: #8a5044;
  }
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-404 h2 {
          font-size: 24px;
      }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px;
    }
  }
  