@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(223,218,198,1) 0%, rgb(192, 207, 221) 100%);
    color: white;
    font-family: 'Oswald', sans-serif;
}

.content-wrap {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
}
